/* CONTENEDOR DEL TITULO */
.domestico {
	position: relative;
	margin-top: -50rem;
}

.domestico__container {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.domestico__title {
	word-spacing: .5rem;
	line-height: 4rem;
}


/* CONTENEDOR DE LAS CAJAS */
.domestico__content {
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.domestico__text {
	color: white;
	display: inline-block;
	font-size: var(--parrafos);
	font-weight: 400;
	margin: 0;
	text-align: justify;
	word-spacing:-2px;
}

.plani__box {
  background-image: url(../../assets/images/plani.jpg);
}

.levan__box {
  background-image: url(../../assets/images/levan.jpg);
}

@media (min-width: 1281px) {
	.domestico__title {
		text-transform: uppercase;
		line-height: 9rem;
	}
	.domestico__content {
		padding-top: 5rem;
		flex-direction: row;
	}
	.domestico__text {
		max-width: 42rem;
	}
}


