@import '@relatos/config-tailwindcss';

/* Rengifo App - Design Tokens */
@theme inline {
  --color-rengifo-azul: #344654;
  --color-rengifo-azul-darker: #354756;
  --color-rengifo-pastel: #ede4d9;
  --color-rengifo-amarillo: #f3ba74;
  --color-rengifo-gris: #d1cdc5;

  /* Font family */
  --font-raleway: var(--font-raleway);
}
