.descubre {
    position: relative;
    overflow-x: hidden;
}

.descubre__container {
    margin-top: 10rem;
}

.descubre__title {
    word-spacing: .5rem;
	line-height: 4rem;
    color: var(--amarillo);
}

.descubre__title span {
    color: white;
}

.descubre__subBar {
    left: 0;
}

.descubre__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    gap: 3rem;
    padding: 5rem 0 8rem;
}

.libro__box {
    background-image: url(../../assets/ventana1.png);
}

.docu__box {
    background-image: url(../../assets/ventana2.png);
}


