@import 'tailwindcss';

@theme inline {
  --color-hub-primary: #294581;
  --color-hub-secondary: #579efb;
  --color-hub-background: #f3f4f6;
  --color-hub-text: #425270;
  --color-hub-accent: #2563eb;
  --color-hub-border: #d1d5db;
  --color-hub-shadow: rgba(0, 0, 0, 0.1);
  --color-hub-error: #dc2626;

  --font-noto: 'Noto Sans', sans-serif;
}
