.documental__container {
  height: 90vh;
  background-image: url(../../assets/fondoPersonas.png);
  background-size: cover;
  /* padding-top: 12rem ; */
}

.video-responsive {
  height: auto;
  padding-top: 56.25%;
  position: relative;
}


.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover; 
}