.nav__menu-section a {
  text-transform: uppercase;
  font-size: 1.6rem;
	color: white;
  text-decoration: none;
  transition: color 300ms ease;
}

.nav__menu-section a:hover {
  color: var(--amarillo);
}