.header {
	position: relative;
	height: 120vh;
	width: 100vw;
	overflow: hidden;
}

.header__container {
	position: absolute;
	padding: 0 4vmin;
	margin: 20vh 2rem 0 0;
	right: 0;
	max-width: 136rem;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.btn__container {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
}

.title__container::before {
	content: "";
	background-color: var(--amarillo);
	height: 0.5rem;
	width: 60vmin;
	position: absolute;
	right: 0;
	top: 0;
	margin-right: -2rem;
}

.header__title {
	font-size: var(--subTitles);
	text-align: right;
}

/* VIDEO */
.header__video {
	position: fixed;
	min-height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: -10;
}

/* BOTTOM IMG */
.header__image {
	display: flex;
	justify-content: center;
}

.header__image img {
	/* height: 60vmin; */
	position: absolute;
	bottom: 0;
	width: 150vw;
}

@media (min-width: 1281px) {
	.header {
		height: 180vh;
	}
	.header__container {
		margin: 20vh auto 0;
	}
	.header__video {
		width: 100%;
	}
	.title__container::before {
		height: 1rem;
	}
	.header__image img {
		width: 100vw;
	}
}
