
.proyecto {
	background: url(../../assets/fondoPersonas.png);
	background-position: bottom;
	background-size: cover;
}

/* ---EL PROYECTO--- */
.proyecto__container {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	padding-bottom: 55rem;
	justify-content: space-between;
	align-items: center;
}

/* ---DESCRIPCION--- */
.proyecto__description {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.proyecto__title {
	color: var(--amarillo);
	text-align: right;
}

.proyecto__subTitle {
	color: var(--azul);
	font-size: var(--subTitles);
	margin: 0 0 2rem;
	text-align: right;
}

.proyecto__text {
	color: var(--azul);
	display: inline-block;
	font-size: var(--parrafos);
	font-weight: 500;
	margin: 0;
	text-align: justify;
	word-spacing:-2px;
}


/* ---EQUIPO--- */
.proyecto__team {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
	justify-content: center;
}

@media (min-width: 1281px) {
	.proyecto__container {
		flex-direction: row;
		align-items:initial; 
		padding-bottom: 100rem;
		padding-top: 10rem;
	}
	.proyecto__team {
		order: 1;
		width: 50rem;
	}
	.proyecto__description {
		order: 2;
	}

	.proyecto__subTitle {
		max-width: 48rem;
	}
	
	.proyecto__text {
		max-width: 48rem;
	}

	.proyecto__title {
		text-transform: uppercase;
		margin: 0 0 10rem 0;
	}
	
}