.team__container {
  align-items: center;
  background-image: url(../../assets/images/equipo.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0 1rem 3rem -0.5rem rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
  border-radius: 1rem;
  border: solid 0.2rem var(--pastel);
}

.team__container:last-child {
  background-image: url(../../assets/images/colaboradores.jpg);
}

.team__title {
  color: white;
  font-size: var(--subTitles);
  font-weight: 800;
  margin: 2rem;
  text-shadow: 0 0.5rem 2rem var(--azul);
}

.team__list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 2rem;
}

@media (min-width: 1281px) {
  .team__list {
    height: 0px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    padding-bottom: 0;
  }

  .team__container:hover > .Equipo {
    height: calc((174px * 3) + 2rem);
  }

  .team__container:hover > .Colaboradores {
    height: calc((174px * 2) + 2rem);
  }

  .team__container {
    transition: padding-bottom 0.5s ease-in-out;
  }

  .team__container:hover {
    padding-bottom: 2rem;
  }
}
