.main__descubre {
    background-image: url(../assets/muralla2.png);
    background-size: 85%;
    background-position: center 0%;
    /* background-repeat: no-repeat; */
    height: 920px;
}

.main__descubre-wrapper {
    margin: 0 250px;
    padding-top: 130px;
}

.descubre__title-wrapper {
}

.descubre__title {
    color: var(--azul);
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: 900;
    line-height: .9;
    margin: 0;
    padding: 0;
}

.descubre__title span {
    color: var(--azul);
}

.descubre__subBar {
    width: 60vw;
    height: 10px;
    background-color: var(--amarillo);
    margin-left: -250px;
}

.descubre__content {
    display: none;
    margin: 90px 200px 0;
    justify-content: space-between;
}

.descubre__libro-wrapper,
.descubre__docu-wrapper {
    display: flex;
    flex-direction: column;
}


.libro__img-link,
.docu__img-link {
    transition: transform 500ms ease;
    width: 500px;
    position: relative;
    
}

.libro__img,
.docu__img {
    width: 500px;   
    position: absolute;
}

.video_docu {
    width: 400px;
    overflow: hidden;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 300ms ease; 
}

.video__docu-gif {
    height: 365px;
    margin-top: 35px;
}




.libro__text-link,
.docu__text-link {
    display: none;
    justify-content: center;
    margin-top: 400px;
    text-decoration: none;
    transition: opacity 500ms ease;
    opacity: 0;
}

.libro__text-link img,
.docu__text-link img {
    width: 50px;
}

.libro__text-link h3,
.docu__text-link h3 {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 20px;
    font-weight: 500;
}

.docu__img-link:hover > .video_docu {
    opacity: 1;
    transition: opacity 300ms ease;  
}

.libro__img-link:hover + .libro__text-link ,
.docu__img-link:hover + .docu__text-link {
    opacity: 1;
    transition: opacity 500ms ease;
}


