
.descubre__title {
    color: var(--pastel);
}

.descubre__title span {
    /* color: var(--grey); */
}

.descubre__subBar {
    left: 0;
}

.descubre__content {
    display: flex;
    margin: 9rem 10rem 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.descubre__libro-wrapper,
.descubre__docu-wrapper {
    display: flex;
    flex-direction: column;
}


.libro__img-link,
.docu__img-link {
    position: relative;
    transition: transform 500ms ease;
    
}

.libro__img,
.docu__img {
    height: 40rem;   
}

.video__docu {
    background-image: url(../assets/VideoGif.gif);
    position: absolute;
    width: 35rem;
    height: 32rem;
    left: 0;
    right: 0;
    margin: 3.5rem auto;
    opacity: 0;
    transition: opacity 300ms ease; 
    z-index: -10;
    box-shadow: 0 0 4rem 4rem var(--azul) inset;
    filter: contrast(200%);
}

.video__docu-gif {

}

.libro__text-link,
.docu__text-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: opacity 500ms ease;
    opacity: 0;
}

.libro__text-link img,
.docu__text-link img {
    width: 5rem;
}

.libro__text-link h3,
.docu__text-link h3 {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 20px;
    font-weight: 500;
}

.docu__img-link:hover > .video__docu {
    opacity: 1;
    transition: opacity 300ms ease;  
}

.libro__img-link:hover + .libro__text-link ,
.docu__img-link:hover + .docu__text-link {
    opacity: 1;
    transition: opacity 500ms ease;
}


/* TABLETS */
@media only screen and (max-width: 1194px) {

    .main__descubre {
    }

    .descubre__content {
        margin: 10rem 0 0;
        gap: 8rem;
        justify-content: space-around;
    }

    .descubre__libro-wrapper,
    .descubre__docu-wrapper {
        max-width: 50rem;
        width: 100%;
    }

    .libro__img,
    .docu__img {
        height: auto;
        width: 100%;
    }

    .libro__text-link,
    .docu__text-link {
        opacity: 1;
    }


}

/* MOBILES */
@media only screen and (max-width: 412px) {
    .descubre__libro-wrapper,
    .descubre__docu-wrapper {
        max-width: 30rem;
        width: auto;
    }

}