/* CONTENEDOR DEL TITULO */
.domestico {
	position: relative;
	margin-top: -30rem;
}

.domestico__container {
	margin-top: -10rem;
}
.domestico__title {
	color: var(--pastel);
	word-spacing: .5rem;
	line-height: 4rem;
}

.domestico__subBar {
	left: 0;
}

/* CONTENEDOR DE LAS CAJAS */
.domestico__content {
	margin-top: 6rem;
}

.domestico__text {
	color: var(--pastel);
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 400;
	margin: 0;
	text-align: justify;
	word-spacing:-2px;
}

.domestico__box-container {
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 3rem;
}

.domestico__box {
	background-color: var(--pastel);
}


