.footer {
    background-image: url(../assets/muroPiedra.png);
    background-position: top;

}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 84rem;
    padding-top: 20rem;
    padding-bottom: 5rem;
}

.footer__logo {
    width: 60rem;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

}

.footer__info-text {
    color: white;
    font-size: 1.4rem;
}


.footer__info-rrss {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}



.rrss {
    height: 3rem;
}

