.footer {
    background-image: url(../assets/muroPiedra.png);
    background-position: top;
    box-shadow: inset 0 -20rem 10rem -5rem var(--azul);
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 84rem;
    padding-top: 20rem;
    padding-bottom: 5rem;
}

.footer__logo {
    max-width: 60rem;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.footer__info-text {
    color: white;
    font-size: 1.4rem;
}


.footer__info-rrss {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.rrss {
    height: 3rem;
}

/* TABLETS */
@media only screen and (max-width: 1194px) {

}

/* MOBILES */
@media only screen and (max-width: 412px) {
    .footer__wrapper {
        height: 55rem;
    }

    .footer__info {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    
}

