.header {
    width: 100vw;
    background-color: var(--azul);
}

.header__video {
    /* position: absolute; */
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.header__title {
    color: var(--crema);
}

.header__btn {

}

.header__btn-docu {

}

.header__btn-libro {

}

.header__img {
    width: 100vw;
}