
.header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.header__video {
    position: absolute;
    height: 100vh;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -10;
}



.header__mainText {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 2rem;
    padding-top: 50%;
}

.header__mainText::before {
    content: '';
    background-color: var(--amarillo);
    height: .5rem;
    width: 70vw;
    margin-right: -2rem;
}

.header__title {
    color: white;
    font-size: 3rem;
    font-weight: 800;
    text-align: right;
}

.header__btn {
    display: flex;
    gap: 1rem;
}

.header__btn-docu,
.header__btn-libro {
    border: .2rem solid white;
    font-size: 1.6rem;
    letter-spacing: .5px;
    color: white;
    text-decoration: none;
    transition: color 200ms ease, background 300ms ease;
}

.header__btn-docu p,
.header__btn-libro p {
    margin: .5rem 1.5rem;
    font-weight: 600;
}

.header__btn-docu:hover,
.header__btn-libro:hover {
    color: var(--azul);
    background: white;
    transition: color 200ms ease, background 300ms ease;
}

.header__img {
    position: absolute;
    bottom: 0;
    width: 150vw;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

@media only screen and (min-width: 768px) {
    
    .header {
        height: 140rem;
    }

    .header__video {
        top: 0;
        width: 100vw;
        max-width: 100%;
        height: auto;
    }
    
    .header__mainText {
        margin: 0 250px;
        padding-top: 250px;
        margin-bottom: 100px;
    }
    
    .header__mainText::before {
        height: 10px;
        width: 50vw;
        margin-right: -250px;
    }
    
    .header__title {
        font-size: 6.4rem;
        margin: 20px 0;
    }
    
    .header__btn {
        gap: 0;
    }
    
    .header__btn-docu,
    .header__btn-libro {
        font-size: 2rem;
        margin-left: 30px;
    }
    
    .header__img {
        top: 595px;
        width: 100vw;
        max-width: 100%;
    }
    
    
}