@import "@styles/main.css";

body {
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 768px;
  visibility: hidden;
}

.website {
  margin: 0;
  padding: 0;
  width: 768px;
}

/*  
    ------------- 
    MEDIA QUERIES
    ------------- 
*/

/*  ------- TABLETS ------- */

@media screen and (min-width: 770px) {


  .header {
    position: fixed;
    width: 1366px;
    visibility: hidden;
  }
  
  .website {
    margin: 0;
    padding: 0;
    width: 1366px;
  }
}

/*  ------- DESKTOP ------- */

@media screen and (min-width: 1370px) {
  .header {
    position: fixed;
    width: 1920px;
    visibility: hidden;
  }
  
  .website {
    margin: 0;
    padding: 0;
    width: 1920px;
  }
}