@import "@styles/main.css";

body {
  overflow-x: hidden;
}

.header {
  position: fixed;
  width: 1920px;
  visibility: hidden;
}

.website {
  margin: 0;
  padding: 0;
  width: 1920px;
}

/*  
    ------------- 
    MEDIA QUERIES
    ------------- 
*/

/*  ------- TABLETS ------- */

@media screen and (min-width: 600px) {
  
}

/*  ------- DESKTOP ------- */

@media screen and (min-width: 1366px) {

}