.main__imaginario {
    background-color: var(--pastel);
    overflow: hidden;
}

.imaginario__imgTransition img {
    background-color: var(--azul);
    width: 100vw;
    margin-bottom: -12rem;
}

/* CONTENIDO DEL TITULO */
.imaginario__title {
    color: var(--azul);
    text-align: right;
}

.imaginario__title span {
    color: var(--amarillo);
}

.imaginario__subBar {
    right: 0;
}

/* CONTENEDOR DE LAS CAJAS */
.imaginario__content {
    /* padding-bottom: 50rem; */
}

.imaginario__fotos {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    gap: 3rem;
    min-height: 20rem;
}

.imaginario__box {
    background-color: var(--azul);
}

.imaginario__box-title {
    line-height: 1;
}

/* CAJAS 3D */
.imaginario__3d {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 5rem;
    height: 30rem;
    min-height: 20rem;
}

.imaginario__3dbox {
    max-width: 67rem;
    background-color: var(--azul);
}


/* TABLETS */
@media only screen and (max-width: 1194px) {
    .imaginario__imgTransition img {
        background-color: var(--azul);
        width: 200vw;
        margin-bottom: -12rem;
    }

    .imaginario__title {
        /* max-width: 80rem;
		min-width: 10rem; */
    }

    .imaginario__fotos {
        flex-direction: column;
        align-items: center;
    }

    /* CAJAS 3D */
    .imaginario__3d {
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
        height: auto;
    }

    .imaginario__3dbox {
        max-width: 60rem;
    }
}

/* MOBILES */
@media only screen and (max-width: 412px) {
    .imaginario__3d {
        margin-top: 6rem;
    }

    .imaginario__3dbox {
        min-width: 30rem;
        min-width: 10rem;
    }
}

