.main__imaginario {
    background-color: var(--pastel);
    background-image: url(/src/assets/fondo1.2.jpg);
    background-position: 0 30rem;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    padding-bottom: 50rem;
    position: relative;
}

.main__imaginario-wrapper {
    position: relative;
}

.imaginario__imgTransition img {
    background-color: var(--azul);
    width: 100vw;
    margin-bottom: -12rem;
}

/* CONTENIDO DEL TITULO */
.imaginario__title {
    color: var(--azul);
    text-align: right;
}

.imaginario__title span {
    color: var(--amarillo);
}

.imaginario__subBar {
    right: 0;
}

/* CONTENEDOR DE LAS CAJAS */

.imaginario__fotos {
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    gap: 3rem;
    min-height: 20rem;
    height: 30rem;
}

.imaginario__box {
    background-color: var(--azul);
}

.imaginario__box-title {
    line-height: 1;
}

/* CAJAS 3D */
.imaginario__3d {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 5rem;
    min-height: 20rem;
}

.imaginario__3dbox {
    background-color: var(--azul);
    position: relative;
    display: flex;
    align-items: flex-end;
    max-width: 67rem;
    width: 100%;
    min-width: 37rem;
    min-height: 20rem;
    cursor: pointer;
    overflow: hidden;
    transition: transform 500ms ease;
    box-shadow: 0 2rem 4rem -1rem var(--azul);
}

.imaginario__3dbox:hover {
    transform: scale(1.1);
    transition: transform 500ms ease;
}

.imaginario__3dbox:hover > .box-fondo {
    transform: scale(1.4);
    transition: transform 2000ms ease;
}

.actividades__fondo {
    top: auto;
}

/* TABLETS */
@media only screen and (max-width: 1194px) {
    .imaginario__imgTransition img {
        background-color: var(--azul);
        width: 200vw;
        margin-bottom: -12rem;
    }

    .imaginario__fotos {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    /* CAJAS 3D */
    .imaginario__3d {
        flex-direction: column;
        align-items: center;
        margin-top: 10rem;
    }

    .imaginario__3dbox {
        max-width: 60rem;
    }
}

/* MOBILES */
@media only screen and (max-width: 412px) {
    .imaginario__3d {
        margin-top: 6rem;
    }

    .imaginario__3dbox {
        min-width: 30rem;
        min-width: 10rem;
    }
}

