
.main {
    width: 100vw;
    position: relative;
}

.wrappers {
    padding: 0 2rem;
    margin: 0 auto;
}

.subBars {
    background-color: var(--amarillo);
    position: absolute;
    width: 60vmax;
    height: 1rem;
    margin-top: 2rem;
}

.box {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 46rem;
    min-width: 30rem;
    min-height: 10rem;
    cursor: pointer;
    overflow: hidden;
    transition: transform 500ms ease;
    box-shadow: 0 2rem 3rem -1rem var(--azul);
}

.box-title {
    position: absolute;
    color: var(--pastel);
    text-shadow: 0 0 1rem var(--azul);
    font-weight: 800;
    font-size: 3rem;   
    margin: 1rem;
    padding: 1rem;
    line-height: .7;
    text-transform: uppercase;
    z-index: 2;
}

.box-title span {
    font-weight: 500;
    font-size: 1.6rem;
}

.box:hover {
    transform: scale(1.1);
    transition: transform 500ms ease;
}

/* IMAGEN DE LAS CAJAS */
.box-fondo {
    position: absolute;
    width: 100%;
    min-width: 30rem;
    top: 0; 
    bottom: 0; 
    margin-top: auto; 
    margin-bottom: auto; 
    z-index: 1;
    transition: transform 500ms ease;
}

.box:hover > .box-fondo {
    transform: scale(1.4);
    transition: transform 2000ms ease;
}