
.main {
    width: 100vw;
    position: relative;
    background-color: var(--azul);
}

.wrappers {
    padding: 0 2rem;
    margin: 0 auto;
}

.subBars {
    background-color: var(--amarillo);
    position: absolute;
	height: 0.5rem;
	width: 60vmin;
	right: 0;
}
