.nav {
	position: fixed;
	width: 100vw;
	transition: background-color 300ms ease;
	z-index: 100;
}

.nav__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 14rem;
	max-width: 1500px;
	padding: 0 5rem;
	margin: 0 auto;
	transition: height 300ms ease;
}

.nav__container-mobile {
}

.nav__toggle-btn {
	display: none;
}

.nav__logo-img {
	height: 6.5rem;
	transition: height 300ms ease;
}


/* MENU */
.nav__menu-list {
    display: flex;
    align-items: flex-end;
    list-style: none;
	gap: 4rem;
}

.nav__menu-section {
	font-size: 1.6rem;
    text-transform: uppercase;
}

.nav__menu-section a {
    /* color: var(--pastel); */
	color: white;
    text-decoration: none;
    transition: text-decoration 300ms ease;
}


.nav__container-fixed {
	height: 8rem;
	transition: height 300ms ease;
}

.nav__logo-imgFixed {
	height: 5rem;
}

.nav__menu-section a:hover {
	text-decoration: underline;
	transition: text-decoration 300ms ease;
}

/* ACCIONES */

.bgBlue {
	background-color: var(--azul);
}

/* TABLETS */
@media only screen and (max-width: 1094px) {
	
	.nav__container {
		display: block;
		height: 10rem;
		padding: 0;
	}
	
	.nav__container-mobile {
		position: absolute;
		display: flex;
		height: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 0 5rem;
		margin: 0 auto;
		left: 0;
		right: 0;
		z-index: 10;
	}
	
	.nav__logo-img {
		height: 4rem;
	}
	
	/* TOGGLE BUTTON */
	.nav__toggle-btn {
		display: block;
		cursor: pointer;
		padding: 1.5rem 0.5rem;
	}
	
	.nav__toggle-btn span,
	.nav__toggle-btn span::before,
	.nav__toggle-btn span::after {
		display: block;
		background: var(--pastel);
		height: .2rem;
		width: 3rem;
		border-radius: .2rem;
		position: relative;
	}
	
	.nav__toggle-btn span::after,
	.nav__toggle-btn span::before {
		content: '';
		position: absolute;
	}
	
	.nav__toggle-btn span::after {
		top: .7rem;
	}
	
	.nav__toggle-btn span::before {
		bottom: .7rem;
	}
	
	/* MENU */
	
	.nav__menu {
		background-color: var(--azul);
		height: 0rem;
		width: 100vw;
		overflow: hidden;
		transition: height 400ms ease;
	}

	.nav__menu-list {
		flex-direction: column;
		gap: 2rem;
		margin: 0 auto;
		padding: 0 5rem;
	}
	
	.nav__menu-section {
		/* margin-right: 4rem; */
		max-width: 700px;
	}
	
	.nav__menu-section:first-child {
		padding-top: 10rem;
	}
	
	/* ACCIONES */
	
	.setHeight {
		height: 32rem;
		transition: height 300ms ease;
	}

	.nav__container-fixed {
		height: 7rem;
		transition: height 300ms ease;
	}
}

/* MOBILES */
@media only screen and (max-width: 412px) {
	.nav__container-mobile {
		padding: 0 4rem;
	}

	.nav__menu-list {
		padding: 0 4rem;
	}
}