.nav {
    position: absolute;
    width: 100%;
    z-index: 10;
    transition: background-color 300ms ease;
}

.nav__container {
    height: 140px;
    margin: 0 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 300ms ease;
}


.nav__logo-img {
    height: 65px;
    transition: height 300ms ease;
}


.nav__menu {
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.nav__menu-section {
    font-family: Raleway;
    font-size: 1.8rem;
    margin: 0 24px;
    text-transform: uppercase;
}

.nav__menu-section:last-child {
    margin: 0 0 0 24px;
}

.nav__menu-section a {
    color: var(--pastel);
    text-decoration: none;
    transition: text-decoration 300ms ease;
}

.nav__fixed {
    position: fixed;
    background-color: var(--azul);
    transition: background-color 300ms ease;
}

.nav__container-fixed {
    height: 80px;
    transition: height 300ms ease;
}

.nav__logo-imgFixed {
    height: 50px;
    transition: height 300ms ease;
}

.nav__menu-section a:hover {
    text-decoration: underline;
    transition: text-decoration 300ms ease;
}

