.nav {
	position: absolute;
	z-index: 100;
	transition: background-color 300ms ease;
	max-width: 100vw;
	right: 0;
	left: 0;
}

.nav__container {
    height: 8rem;
	transition: height 300ms ease;
}

.nav__container-mobile {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
	position: absolute;
	width: 100vw;
	z-index: 10;
}

.nav__logo-img {
	height: 4rem;
	transition: height 300ms ease;
}

/* TOGGLE BUTTON */
.nav__toggle-btn {
	cursor: pointer;
	padding: 1.5rem 0.5rem;
}

.nav__toggle-btn span,
.nav__toggle-btn span::before,
.nav__toggle-btn span::after {
	display: block;
	background: var(--pastel);
	height: .2rem;
	width: 3rem;
	border-radius: .2rem;
	position: relative;
}

.nav__toggle-btn span::after,
.nav__toggle-btn span::before {
	content: '';
	position: absolute;
}

.nav__toggle-btn span::after {
	top: .7rem;
}

.nav__toggle-btn span::before {
	bottom: .7rem;
}

/* MENU */

.nav__menu {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
	gap: 2rem;
    transition: height 300ms ease;
	overflow: hidden;
	width: 100vw;
	margin: 0;
	height: 0rem;
}

.nav__menu-section {
	margin-right: 4rem;
    font-family: Raleway;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.nav__menu-section:first-child {
	padding-top: 8rem;
}

.nav__menu-section a {
    color: var(--pastel);
    text-decoration: none;
    transition: text-decoration 300ms ease;
}

.nav__fixed {
	position: fixed;
	transition: background-color 300ms ease;
}


/* ADICIONES */

.bgBlue {
	background-color: var(--azul);
}

.setHeight {
	height: 28rem;
}



@media only screen and (min-width: 768px) {

	.nav__container {
		height: 14rem;
		margin: 0 25rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav__container-mobile {
		position: relative;
		width: auto;
	}

    .nav__toggle-btn {
        display: none;
      }
 
	.nav__logo-img {
		height: 6.5rem;
	}

	.nav__menu {
        flex-direction: row;
		background-color: transparent;
		padding: 0;
		gap: 4rem;
		overflow: visible;
		width: auto;
		height: auto;
	}

	.nav__menu-section {
		font-size: 1.8rem;
		margin-right: 0;
	}

	.nav__menu-section:first-child {
		padding-top: 0rem;
	}

	.nav__fixed {
		position: fixed;
		background-color: var(--azul);
		transition: background-color 300ms ease;
	}

	.nav__container-fixed {
		height: 8rem;
		transition: height 300ms ease;
	}

	.nav__logo-imgFixed {
		height: 5rem;
	}

	.nav__menu-section a:hover {
		text-decoration: underline;
		transition: text-decoration 300ms ease;
	}
}
