
.proyecto {
	background: url(../assets/fondoPersonas.png);
	background-position: bottom;
	background-size: cover;
}

/* ---EL PROYECTO--- */
.proyecto__container {
	display: flex;
	flex-direction: column;
	gap: 6rem;
	justify-content: space-between;
	padding-bottom: 55rem;
}

/* ---DESCRIPCION--- */
.proyecto__description {
	display: flex;
	flex-direction: column;
}

.proyecto__title {
	color: var(--amarillo);
	text-align: right;
}

.proyecto__subTitle {
	color: var(--azul);
	font-size: 3rem;
	margin: 0 0 2rem;
	text-align: right;
}

.proyecto__text {
	color: var(--azul);
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 500;
	margin: 0;
	text-align: justify;
	word-spacing:-2px;
}


/* ---EQUIPO--- */
.proyecto__team {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 5rem;
}