.sticker {
    position: absolute;
    z-index: 1;
    transition: transform 500ms ease;
}

.sticker:hover {
    transform: scale(1.4);
    transition: transform 500ms ease;
}

.sticker-calle {
    width: 40rem;
    top: -14rem;
    margin-bottom: -5rem;
    right: 8vw;
    transform: rotate(15deg);
}

.sticker-estampilla {
    transform: rotate(-15deg);
    left: 5vw;
    width: 20vmax;
}

.sticker-fotos {
    transform: rotate(15deg);
    right: -10vw;
    top: -4vmax;
    width: 20vmax;
}


.sticker-container {
    display: flex;
    justify-content: center;
    gap: 8rem;
    padding-bottom: 10rem;
}

.sticker-refri {
    width: auto;
    height: 10vw;
    transition: transform 500ms ease;
}
.sticker-refri:hover {
    transform: scale(1.4);
    transition: transform 500ms ease;
}

@keyframes balancing {
   from {transform: translateY(0);}
   to {transform: translateY(5rem);}
}

.sticker-banderines {
    width: 100vw;
    position: absolute;
    top: -10rem;
    /* animation: balancing .5s infinite; */
    /* animation-direction: alternate-reverse; */
}

@media only screen and (max-width: 1366px) {
    .sticker-estampilla {
        left: 0vw;
    }
    .sticker-fotos {
        top: -2vmax;
        right: -5vw;
    }
    
}

@media only screen and (max-width: 1194px) {
    .sticker-estampilla {
        left: 0vw;
        top: 5rem;
    }

    .sticker-container {
        display: none;
    }
    .sticker-fotos {
        top: 0vmax;
    }

}

@media only screen and (max-width: 412px) {
    .sticker:hover {
      transform: none;  
    }

    .sticker-calle {
        width: 15rem;
        right: 2vw;
        top: -2rem;
    }

    .sticker-estampilla {
        
    }



    .sticker-refri {

    }

    .sticker-fotos {
        top: 2vw;
    }

}






