@import '@styles/nav.css';
@import '@styles/header.css';
@import '@styles/main.css';
@import '@styles/proyecto.css';
@import '@styles/domestico.css';
@import '@styles/imaginario.css';
@import '@styles/descubre.css';
@import '@styles/footer.css';
@import '@styles/gallery.css';
@import '@styles/stickers.css';



/*  
    ------------- 
        FONTS
    ------------- 
*/


@font-face {
  font-family: "Raleway";
  font-weight: 100;
  src: local(""), url("../assets/fonts/Raleway-Thin.woff2") format("woff2"), url("../assets/fonts/Raleway-Thin.woff") format("woff"), url("../assets/fonts/Raleway-Thin.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 200;
  src: local(""), url("../assets/fonts/Raleway-ExtraLight.woff2") format("woff2"), url("../assets/fonts/Raleway-ExtraLight.woff") format("woff"), url("../assets/fonts/Raleway-ExtraLight.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: local(""), url("../assets/fonts/Raleway-Light.woff2") format("woff2"), url("../assets/fonts/Raleway-Light.woff") format("woff"), url("../assets/fonts/Raleway-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: local(""), url("../assets/fonts/Raleway-Regular.woff2") format("woff2"), url("../assets/fonts/Raleway-Regular.woff") format("woff"), url("../assets/fonts/Raleway-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: local(""), url("../assets/fonts/Raleway-Medium.woff2") format("woff2"), url("../assets/fonts/Raleway-Medium.woff") format("woff"), url("../assets/fonts/Raleway-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: local(""), url("../assets/fonts/Raleway-SemiBold.woff2") format("woff2"), url("../assets/fonts/Raleway-SemiBold.woff") format("woff"), url("../assets/fonts/Raleway-SemiBold.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: local(""), url("../assets/fonts/Raleway-Bold.woff2") format("woff2"), url("../assets/fonts/Raleway-Bold.woff") format("woff"), url("../assets/fonts/Raleway-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: local(""), url("../assets/fonts/Raleway-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Raleway-ExtraBold.woff") format("woff"), url("../assets/fonts/Raleway-ExtraBold.ttf") format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 900;
  src: local(""), url("../assets/fonts/Raleway-Black.woff2") format("woff2"), url("../assets/fonts/Raleway-Black.woff") format("woff"), url("../assets/fonts/Raleway-Black.ttf") format("ttf");
}


/*  
    ------------- 
      VARIABLES
    ------------- 
*/

:root {
  --azul: #344754;
  --azulOpa: #344754d5;
  --pastel: #EEE3D8;
  --amarillo: #FAC074;
  --amarilloOpa: #fac07477;
  --gris: #D1CDC5;

}

/*  
    ------------- 
      ANIMATIONS
    ------------- 
*/

@-webkit-keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*  
    ------------- 
       GENERAL
    ------------- 
*/

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  background-color: var(--azul);
  overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--amarillo); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: var(--amarilloOpa); 
}



/*  
    ------------- 
    MEDIA QUERIES
    ------------- 
*/

@media screen and (min-width: 767px) {


}

@media screen and (min-width: 1360px) {

}
