.imaginario {
    background-image: url(/src/assets/fondo1.2.jpg);
    background-position: 0 15rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.imaginario__img {
	background-image: url(../../assets/fachada.png);
	background-size: cover;
	background-position: left;
	box-shadow: inset 0 -6rem 2rem -3rem #eee3d8;
	top: 0;
	left: 0;
	height: 20rem;
	position: absolute;
	width: 100vw;
}

/* TITLE */
.imaginario__title-wrapper {
    padding-top: 20rem;
}

.imaginario__title {
    color: var(--azul);
    text-align: right;
    word-spacing: .5rem;
	line-height: 4rem;
}

.imaginario__title span {
    color: var(--gris);
}

.imaginario__subBar {
    right: 0;
}


/* CONTENEDOR DE LAS CAJAS */

.imaginario__fotos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 8rem;
    gap: 3rem;
}

.archivo__box {
    background-image: url(../../assets/images/archivo.jpg);
}

.actividades__box {
    background-image: url(../../assets/images/actividades.jpg);
}

.aereas__box {
    background-image: url(../../assets/images/aereas.jpg);   
}


/* CAJAS 3D */
.imaginario__3d {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 6rem;
}

.imaginario__3d a{
    text-decoration: none;
}

.exterior__box {
    background-image: url(../../assets/images/exterior.jpg);
}

.interior__box {
    background-image: url(../../assets/images/interior.jpg);
}
