/* CONTENEDOR DEL TITULO */
.domestico {
	position: relative;
	margin-top: -40rem;
}

.domestico__container {
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.domestico__title {
	color: var(--pastel);
	word-spacing: .5rem;
	line-height: 4rem;
}

.domestico__subBar {
	left: 0;
}

/* CONTENEDOR DE LAS CAJAS */
.domestico__content {
	margin-top: 6rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.domestico__text {
	color: var(--pastel);
	display: inline-block;
	font-size: 1.6rem;
	font-weight: 400;
	margin: 0;
	text-align: justify;
	word-spacing:-2px;
}

.plani__box {
  background-image: url(../../assets/images/plani.jpg);
}

.levan__box {
  background-image: url(../../assets/images/levan.jpg);
}



