.nav {
	position: fixed;
	width: 100vw;
	-webkit-transition: background-color 300ms ease;
	-o-transition: background-color 300ms ease;
	transition: background-color 300ms ease;
	z-index: 100;
}

.nav__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 14rem;
	max-width: 1500px;
	padding: 0 5rem;
	margin: 0 auto;
	-webkit-transition: height 300ms ease;
	-o-transition: height 300ms ease;
	transition: height 300ms ease;
}

.nav__container-mobile {
}

.nav__toggle-btn {
	display: none;
}

.nav__logo-img {
	height: 6.5rem;
	-webkit-transition: height 300ms ease;
	-o-transition: height 300ms ease;
	transition: height 300ms ease;
}


/* MENU */
.nav__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    list-style: none;
	gap: 4rem;
}

.nav__menu-section {
	font-size: 1.6rem;
    text-transform: uppercase;
}

.nav__menu-section a {
    color: var(--pastel);
    text-decoration: none;
    -webkit-transition: -webkit-text-decoration 300ms ease;
    transition: -webkit-text-decoration 300ms ease;
    -o-transition: text-decoration 300ms ease;
    transition: text-decoration 300ms ease;
    transition: text-decoration 300ms ease, -webkit-text-decoration 300ms ease;
}


.nav__container-fixed {
	height: 8rem;
	-webkit-transition: height 300ms ease;
	-o-transition: height 300ms ease;
	transition: height 300ms ease;
}

.nav__logo-imgFixed {
	height: 5rem;
}

.nav__menu-section a:hover {
	text-decoration: underline;
	-webkit-transition: -webkit-text-decoration 300ms ease;
	transition: -webkit-text-decoration 300ms ease;
	-o-transition: text-decoration 300ms ease;
	transition: text-decoration 300ms ease;
	transition: text-decoration 300ms ease, -webkit-text-decoration 300ms ease;
}

/* ACCIONES */

.bgBlue {
	background-color: var(--azul);
}

/* TABLETS */
@media only screen and (max-width: 1094px) {
	
	.nav__container {
		display: block;
		height: 10rem;
		padding: 0;
	}
	
	.nav__container-mobile {
		position: absolute;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding: 0 5rem;
		margin: 0 auto;
		left: 0;
		right: 0;
		z-index: 10;
	}
	
	.nav__logo-img {
		height: 4rem;
	}
	
	/* TOGGLE BUTTON */
	.nav__toggle-btn {
		display: block;
		cursor: pointer;
		padding: 1.5rem 0.5rem;
	}
	
	.nav__toggle-btn span,
	.nav__toggle-btn span::before,
	.nav__toggle-btn span::after {
		display: block;
		background: var(--pastel);
		height: .2rem;
		width: 3rem;
		border-radius: .2rem;
		position: relative;
	}
	
	.nav__toggle-btn span::after,
	.nav__toggle-btn span::before {
		content: '';
		position: absolute;
	}
	
	.nav__toggle-btn span::after {
		top: .7rem;
	}
	
	.nav__toggle-btn span::before {
		bottom: .7rem;
	}
	
	/* MENU */
	
	.nav__menu {
		background-color: var(--azul);
		height: 0rem;
		width: 100vw;
		overflow: hidden;
		-webkit-transition: height 400ms ease;
		-o-transition: height 400ms ease;
		transition: height 400ms ease;
	}

	.nav__menu-list {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		gap: 2rem;
		margin: 0 auto;
		padding: 0 5rem;
	}
	
	.nav__menu-section {
		/* margin-right: 4rem; */
		max-width: 700px;
	}
	
	.nav__menu-section:first-child {
		padding-top: 10rem;
	}
	
	/* ACCIONES */
	
	.setHeight {
		height: 32rem;
		-webkit-transition: height 300ms ease;
		-o-transition: height 300ms ease;
		transition: height 300ms ease;
	}

	.nav__container-fixed {
		height: 7rem;
		-webkit-transition: height 300ms ease;
		-o-transition: height 300ms ease;
		transition: height 300ms ease;
	}
}

/* MOBILES */
@media only screen and (max-width: 412px) {
	.nav__container-mobile {
		padding: 0 4rem;
	}

	.nav__menu-list {
		padding: 0 4rem;
	}
}
/* MAIN CONTAINER */
.header {
	position: relative;
	overflow: hidden;
	height: 145vmin;
}

/* VIDEO */
.header__video {
	position: absolute;
	min-width: 100vw;
	min-height: 100%;
	right: 0;
	bottom: 0;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	    -ms-transform: translate(-50%, 0);
	        transform: translate(-50%, 0);
	z-index: -10;
}

/* BOTTOM IMG */
.header__img {
	position: absolute;
	bottom: 0;
	width: 100vw;
	left: 0;
}

/* TITLE SECTION */
.header__title {
	position: absolute;
	width: 100vw;
}

.header__title-container {
	max-width: 1500px;
	margin: 20vh auto 0;
	padding-right: 5rem;
}

.title__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
}

/* UPPER LINE */
.title__container::before {
	content: '';
	background-color: var(--amarillo);
	height: 1rem;
	width: 60vmax;
	position: absolute;
	right: 0;
}

.title {
	color: white;
	font-size: 6.4rem;
	margin: 2rem 0;
	font-weight: 800;
	text-align: right;
}

.btn__container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 3rem;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.btn {
	border: 0.1em solid white;
	font-size: 2rem;
	letter-spacing: 0.5px;
	color: white;
	text-decoration: none;
	-webkit-transition: color 200ms ease, background 300ms ease;
	-o-transition: color 200ms ease, background 300ms ease;
	transition: color 200ms ease, background 300ms ease;
}

.btn p {
	margin: 0.25em 0.75em;
	font-weight: 600;
}

.btn:hover {
	color: var(--azul);
	background: white;
	-webkit-transition: color 200ms ease, background 300ms ease;
	-o-transition: color 200ms ease, background 300ms ease;
	transition: color 200ms ease, background 300ms ease;
}

/* TABLETS */
@media only screen and (max-width: 1194px) {
	/* MAIN CONTAINER */
	.header {
		height: 120vmax;
	}

	/* BOTTOM IMG */
	.header__img {
		width: 150vw;
		left: 50%;
		-webkit-transform: translate(-50%, 0);
		    -ms-transform: translate(-50%, 0);
		        transform: translate(-50%, 0);
	}

	/* TITLE SECTION */
	.header__title-container {
		margin: 25vh auto 0;
	}

	.title {
		font-size: 5rem;
	}

}

/* MOBILES */
@media only screen and (max-width: 412px) {
	.header {
		height: 100vmax;
	}

	.header__title-container {
		padding-right: 2rem;
	}

    .title__container::before {
		height: 0.5rem;
		width: 60vmin;
	}

    .title {
		font-size: 3rem;
	}

	.btn__container {
		gap: 1rem;
	}

	.btn {
		font-size: 1.6rem;
	}
}


.main {
    background-image: url(assets/images/61111070541537c643bb.png);
    background-color: var(--blue);
    background-position: top;
    background-repeat: no-repeat;
    width: 100vw;
    /* height: 190rem; */
    /* margin-bottom: 2500px; */
}

.wrappers {
    max-width: 1500px;
    margin: 0 auto;
    padding: 12rem 5rem;
    overflow: hidden;
}

.titles {
    text-transform: uppercase;
    font-size: 10rem;
    font-weight: 900;
    line-height: .9;
    margin: 0;
    padding: 0;
}

.subBars {
    background-color: var(--amarillo);
    position: absolute;
    width: 60vmax;
    height: 1rem;
    margin-top: 2rem;
}

.box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    max-width: 46rem;
    min-width: 37rem;
    min-height: 20rem;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.box-title {
    position: absolute;
    color: var(--pastel);
    font-weight: 800;
    font-size: 4rem;   
    margin: 2rem;
    line-height: .7;
    text-transform: uppercase;
    z-index: 2;
}

.box-title span {
    font-weight: 500;
    font-size: 2.5rem;
}

.box:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
}

/* IMAGEN DE LAS CAJAS */
.box-fondo {
    position: absolute;
    width: 100%;
    min-width: 30rem;
    top: 0; 
    bottom: 0; 
    margin-top: auto; 
    margin-bottom: auto; 
    z-index: 1;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.box:hover > .box-fondo {
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    -webkit-transition: -webkit-transform 2000ms ease;
    transition: -webkit-transform 2000ms ease;
    -o-transition: transform 2000ms ease;
    transition: transform 2000ms ease;
    transition: transform 2000ms ease, -webkit-transform 2000ms ease;
}


/* TABLETS */
@media only screen and (max-width: 1194px) {

    .main {

    }

    .titles {
        font-size: 8rem;
        word-wrap: break-word;
    }

    .subBars {
        width: 60vmin;
    }

    .box {
        max-width: 60rem;
    }
}

/* MOBILES */
@media only screen and (max-width: 412px) {

    .wrappers {
        padding: 10rem 3rem;
    }
    .titles {
        font-size: 3.8rem;
    }

    .box {
        min-width: 30rem;
        min-height: 10rem;
    }

    .box-title {
        font-size: 3rem;   
    }

    .box-title span {
        font-size: 1.6rem;
    }

}



/* ---EL PROYECTO--- */
.main__proyecto-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	gap: 6rem;
	margin-bottom: 55rem;
}

/* ---EQUIPO--- */
.main__proyecto-equipo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: auto;
	width: 56rem;
	gap: 2rem;

}

.equipo__wrapper,
.colab__wrapper {
	-webkit-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
	height: 100%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.equipo__wrapper {
	background-color: var(--azul);
}

.colab__wrapper {
	background-color: var(--amarillo);
}

/* HOVER */

@-webkit-keyframes opacity {
	0%   {opacity: 0;}
	50%  {opacity: 0;}
	100% {opacity: 100;}
  }

@keyframes opacity {
	0%   {opacity: 0;}
	50%  {opacity: 0;}
	100% {opacity: 100;}
  }

.equipo__wrapper:hover .proyecto__equipo-list,
.colab__wrapper:hover .proyecto__colab-list {
	visibility: visible;
	height: 380px;
	margin: 2rem;
	-webkit-transition: height 500ms ease-in-out,
				margin 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out,
				margin 500ms ease-in-out;
	transition: height 500ms ease-in-out,
				margin 500ms ease-in-out;
}

.equipo__wrapper:hover .equipo,
.colab__wrapper:hover .colab {
	-webkit-animation: opacity 1s forwards;
	        animation: opacity 1s forwards;
}

/* .equipo__wrapper:hover,
.colab__wrapper:hover {
	transition: height 500ms ease-in-out;
} */

.equipo__wrapper h2,
.colab__wrapper h2 {
	color: var(--pastel);
	font-size: 5rem;
	display: inline-block;
	margin: 0;
	padding: 0;
	cursor: default;
}

.proyecto__equipo,
.proyecto__colab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.proyecto__equipo-list,
.proyecto__colab-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	gap: 2rem;
	visibility: hidden;
	height: 0px;
	max-width: 500px;
	margin: 0;
	-webkit-transition: height 500ms ease-in-out,
				margin 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out,
				margin 500ms ease-in-out;
	transition: height 500ms ease-in-out,
				margin 500ms ease-in-out;
}

.equipo,
.colab {
	opacity: 0;
	height: auto;
	width: 100%;
	max-width: calc((50rem - 2rem*2)/3);
	background-color: var(--pastel);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.equipo p,
.colab p {
	display: inline-block;
	color: var(--azul);
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	cursor: default;
}

.equipo div,
.colab div {
	overflow: hidden;
}



/* ---DESCRIPCION--- */
.main__proyecto-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-align: right;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	min-height: 60rem;
}

.proyecto__title {
	color: #aeaeae;
}

.proyecto__content {
	text-align: right;
	max-width: 52rem;
}

.proyecto__subTitle {
	font-size: 6rem;
	color: var(--azul);
	margin: 0 0 2rem;
}

.proyecto__text {
	display: inline-block;
	font-size: 2.1rem;
	color: var(--azul);
	font-weight: 500;
	margin: 0;
	text-align: justify;
}

/* TABLETS */
@media only screen and (max-width: 1194px) {
	/* ---EL PROYECTO--- */
	.main__proyecto-wrapper {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap-reverse;
		    flex-wrap: wrap-reverse;
        margin-bottom: 0rem;
	}

	/* ---EQUIPO--- */
	.main__proyecto-equipo {
		max-width: 100%;
		height: 60rem;
		width: 60rem;
	}

	.equipo__wrapper,
	.colab__wrapper {
		-webkit-box-flex: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		-webkit-transition: flex-grow 500ms ease, -webkit-box-flex 500ms ease;
		transition: flex-grow 500ms ease, -webkit-box-flex 500ms ease;
		-o-transition: flex-grow 500ms ease;
		transition: flex-grow 500ms ease;
		transition: flex-grow 500ms ease, -webkit-box-flex 500ms ease, -ms-flex-positive 500ms ease;
	}

	.equipo__wrapper {
		background-color: var(--azul);
	}

	.colab__wrapper {
		background-color: var(--amarillo);
	}

	/* ---DESCRIPCION--- */
	.main__proyecto-description {
		min-height: 50rem;
		width: 100%;
		gap: 2rem;
	}

	.proyecto__subTitle {
		font-size: 5rem;
	}

	.proyecto__content {
		-ms-flex-item-align: center;
		    align-self: center;
		max-width: 60rem;
	}
	
	.proyecto__equipo-list,
	.proyecto__colab-list {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

/* MOBILES */
@media only screen and (max-width: 412px) {
	/* ---DESCRIPCION--- */
	.main__proyecto-description {
		min-height: 42rem;
	}

	.main__proyecto-wrapper {
        margin-bottom: 20rem;
	}

	.proyecto__subTitle {
		font-size: 3rem;
	}

	.proyecto__text {
		font-size: 1.6rem;
	}

	/* ---EQUIPO--- */
	.main__proyecto-equipo {
		height: 50rem;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.equipo__wrapper h2,
	.colab__wrapper h2 {
		font-size: 3rem;
	}
	
	.equipo p,
	.colab p {
		font-size: 1.2rem;
	}

	.equipo,
	.colab {
		min-width: 100%;
	}
}

/* CONTENEDOR DEL TITULO */

.domestico__title {
	color: var(--pastel);
	max-width: 100rem;
}

.domestico__subBar {
	left: 0;
}

/* CONTENEDOR DE LAS CAJAS */
.domestico__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 8rem;
	gap: 3rem;
	width: auto;
}

.domestico__text {
	color: var(--pastel);
	width: 100%;
	max-width: 42rem;
	min-width: 30rem;
	min-height: 20rem;	
	font-size: 1.8rem;
	font-weight: 300;
	margin: 0;
	text-align: justify;
}

.domestico__box-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	gap: 3rem;
}

.domestico__box {
	background-color: var(--pastel);
}

/* TABLETS */
@media only screen and (max-width: 1194px) {
	.domestico__title {
		max-width: 80rem;
		min-width: 10rem;
	}

	.domestico__content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.domestico__box-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.domestico__text {
		max-width: 60rem;
	}
}

/* MOBILES */
@media only screen and (max-width: 412px) {

	.domestico__text {
		font-size: 1.6rem;
	}
}

.main__imaginario {
    background-color: var(--pastel);
    overflow: hidden;
}

.imaginario__imgTransition img {
    background-color: var(--azul);
    width: 100vw;
    margin-bottom: -12rem;
}

/* CONTENIDO DEL TITULO */
.imaginario__title {
    color: var(--azul);
    text-align: right;
}

.imaginario__title span {
    color: var(--amarillo);
}

.imaginario__subBar {
    right: 0;
}

/* CONTENEDOR DE LAS CAJAS */
.imaginario__content {
    /* padding-bottom: 50rem; */
}

.imaginario__fotos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 8rem;
    gap: 3rem;
    min-height: 20rem;
}

.imaginario__box {
    background-color: var(--azul);
}

.imaginario__box-title {
    line-height: 1;
}

/* CAJAS 3D */
.imaginario__3d {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 3rem;
    margin-top: 5rem;
    height: 30rem;
    min-height: 20rem;
}

.imaginario__3dbox {
    background-color: var(--azul);
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 67rem;
    width: 100%;
    min-width: 37rem;
    min-height: 20rem;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
}


/* TABLETS */
@media only screen and (max-width: 1194px) {
    .imaginario__imgTransition img {
        background-color: var(--azul);
        width: 200vw;
        margin-bottom: -12rem;
    }

    .imaginario__title {
        /* max-width: 80rem;
		min-width: 10rem; */
    }

    .imaginario__fotos {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    /* CAJAS 3D */
    .imaginario__3d {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 10rem;
        height: auto;
    }

    .imaginario__3dbox {
        max-width: 60rem;
    }
}

/* MOBILES */
@media only screen and (max-width: 412px) {
    .imaginario__3d {
        margin-top: 6rem;
    }

    .imaginario__3dbox {
        min-width: 30rem;
        min-width: 10rem;
    }
}



.descubre__title {
    color: var(--pastel);
}

.descubre__title span {
    /* color: var(--grey); */
}

.descubre__subBar {
    left: 0;
}

.descubre__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 9rem 10rem 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.descubre__libro-wrapper,
.descubre__docu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


.libro__img-link,
.docu__img-link {
    position: relative;
    -webkit-transition: -webkit-transform 500ms ease;
    transition: -webkit-transform 500ms ease;
    -o-transition: transform 500ms ease;
    transition: transform 500ms ease;
    transition: transform 500ms ease, -webkit-transform 500ms ease;
    
}

.libro__img,
.docu__img {
    height: 40rem;   
}

.video__docu {
    background-image: url(assets/images/f046e42fd6cbf9df4af7.gif);
    position: absolute;
    width: 35rem;
    height: 32rem;
    left: 0;
    right: 0;
    margin: 3.5rem auto;
    opacity: 0;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease; 
    z-index: -10;
    -webkit-box-shadow: 0 0 4rem 4rem var(--azul) inset;
            box-shadow: 0 0 4rem 4rem var(--azul) inset;
    -webkit-filter: contrast(200%);
            filter: contrast(200%);
}

.video__docu-gif {

}

.libro__text-link,
.docu__text-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    -webkit-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
    opacity: 0;
}

.libro__text-link img,
.docu__text-link img {
    width: 5rem;
}

.libro__text-link h3,
.docu__text-link h3 {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 20px;
    font-weight: 500;
}

.docu__img-link:hover > .video__docu {
    opacity: 1;
    -webkit-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;  
}

.libro__img-link:hover + .libro__text-link ,
.docu__img-link:hover + .docu__text-link {
    opacity: 1;
    -webkit-transition: opacity 500ms ease;
    -o-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
}


/* TABLETS */
@media only screen and (max-width: 1194px) {

    .main__descubre {
    }

    .descubre__content {
        margin: 10rem 0 0;
        gap: 8rem;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    .descubre__libro-wrapper,
    .descubre__docu-wrapper {
        max-width: 50rem;
        width: 100%;
    }

    .libro__img,
    .docu__img {
        height: auto;
        width: 100%;
    }

    .libro__text-link,
    .docu__text-link {
        opacity: 1;
    }


}

/* MOBILES */
@media only screen and (max-width: 412px) {
    .descubre__libro-wrapper,
    .descubre__docu-wrapper {
        max-width: 30rem;
        width: auto;
    }

}
.footer {
    background-image: url(assets/images/be4da95acfad967f42ee.png);
    background-position: top;
    -webkit-box-shadow: inset 0 -20rem 10rem -5rem var(--azul);
            box-shadow: inset 0 -20rem 10rem -5rem var(--azul);
}

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 84rem;
    padding-top: 20rem;
    padding-bottom: 5rem;
}

.footer__logo {
    max-width: 60rem;
}

.footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
}

.footer__info-text {
    color: white;
    font-size: 1.4rem;
}


.footer__info-rrss {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 1.5rem;
}

.rrss {
    height: 3rem;
}

/* TABLETS */
@media only screen and (max-width: 1194px) {

}

/* MOBILES */
@media only screen and (max-width: 412px) {
    .footer__wrapper {
        height: 55rem;
    }

    .footer__info {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        gap: 1rem;
    }
    
}


/* GALLERY */

.gallery {
    bottom: 0;
    position: fixed;
    left: 0;
    width: 0%;
    height: 100vh;
    background-color: var(--azulOpa);
    z-index: 5;
    -webkit-transition: width 500ms ease;
    -o-transition: width 500ms ease;
    transition: width 500ms ease;
}

.gallery p {
    position: absolute;
    color: white;
    left: 9rem;
    top: 10rem;
    font-size: 2rem;
    cursor: none;
    z-index: 15;
}

.gallery span {
    position: absolute;
    color: white;
    top: 10rem;
    right: 9rem;
    font-size: 3rem;
    cursor: pointer;
    z-index: 15;
}

.gallery span:hover {
    color: rgba(255, 255, 255, 0.63);
}

.gallery__container {
    margin: 0rem 8rem;
    height: 100%;
}

.splide__track {
    /* height: 90vh; */
    /* padding: 5rem 0 0; */
}

.splide__slide {
    /* display: flex; */
    /* justify-content: center; */
}

.splide__slide img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    max-height: 92vh;
    max-width: 100%;
    margin: auto;
    padding-top: 5rem;
}

.splide__pagination__page {
    height: 1.2rem !important; 
    width: 1.2rem !important;
    margin: 1rem !important;
}

.showGallery {
    width: 100%;
    -webkit-transition: width 500ms ease;
    -o-transition: width 500ms ease;
    transition: width 500ms ease;
}

.fixScroll {
    overflow: hidden;
}


@media only screen and (max-width: 1194px) {
    .gallery__container {
        margin: 0rem 4rem;
    }
    .gallery span {
        right: 5rem;
    }

    .splide__slide img {
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 1194px) {
    .gallery__container {
        margin: 0rem 0rem;
    }
    .gallery span {
        top: 8rem;
        right: 2rem;
    }

    .splide__slide img {
        padding-top: 2rem;
    }

    .splide__pagination__page {
        height: .8rem !important; 
        width: .8rem !important;
        margin: .5rem !important;
    }
}


/*  
    ------------- 
        FONTS
    ------------- 
*/


@font-face {
  font-family: "Raleway";
  font-weight: 100;
  src: local(""), url(assets/fonts/Raleway-Thin.f6d56e93e3325d522271c5ee18e04ac6.woff2) format("woff2"), url(assets/fonts/Raleway-Thin.55c75172a3b1e84d96e5169b9b978f67.woff) format("woff"), url(assets/fonts/Raleway-Thin.537e4a263280ac058bf9eadf546092d0.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 200;
  src: local(""), url(assets/fonts/Raleway-ExtraLight.e864d14056008227db0b9fa7a375cd0f.woff2) format("woff2"), url(assets/fonts/Raleway-ExtraLight.fd2dea7b1e53a6b5799c23e16cef9db5.woff) format("woff"), url(assets/fonts/Raleway-ExtraLight.18e9b7b36143a965037ef79bbc403cac.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: local(""), url(assets/fonts/Raleway-Light.19727a27d5f8d930d45e5f0ca21c741c.woff2) format("woff2"), url(assets/fonts/Raleway-Light.8a24fa6479abdb8d73603dea69a10f1e.woff) format("woff"), url(assets/fonts/Raleway-Light.f25e9b3a1fc8e48e53f51de9838c95fa.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: local(""), url(assets/fonts/Raleway-Regular.40d223a0cf78441ef922f03b2b40af1a.woff2) format("woff2"), url(assets/fonts/Raleway-Regular.3e843340254198ecec23219ce4f19fb6.woff) format("woff"), url(assets/fonts/Raleway-Regular.9ade142e81dd8d55cd3265c1529bef5e.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: local(""), url(assets/fonts/Raleway-Medium.35e7e8e8ebeb008fcf4541addf169359.woff2) format("woff2"), url(assets/fonts/Raleway-Medium.1f0a6553f8484e9dce03d3b633b8804b.woff) format("woff"), url(assets/fonts/Raleway-Medium.1af9f1e9f3fd4766df83e545c2f6fcdb.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 600;
  src: local(""), url(assets/fonts/Raleway-SemiBold.f98f2d0655bde48b21317cc97cac3ff5.woff2) format("woff2"), url(assets/fonts/Raleway-SemiBold.291d8882508b506cc2e8b532b216dc5e.woff) format("woff"), url(assets/fonts/Raleway-SemiBold.243af299ad3631bfc36924b497f3831f.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 700;
  src: local(""), url(assets/fonts/Raleway-Bold.fab9504da3bd6e0dcd59aab3370562df.woff2) format("woff2"), url(assets/fonts/Raleway-Bold.ab4a7c61ab4207aa93e16e037f3d591f.woff) format("woff"), url(assets/fonts/Raleway-Bold.d1a96e2aa6257c864d4d879dfb52fd0c.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 800;
  src: local(""), url(assets/fonts/Raleway-ExtraBold.b50552bbf63ba3cb04cef52e547e265e.woff2) format("woff2"), url(assets/fonts/Raleway-ExtraBold.8114791426703d91798aaca229e928cc.woff) format("woff"), url(assets/fonts/Raleway-ExtraBold.ac7bcb8a0f4abc1d6591019579a44ebd.ttf) format("ttf");
}
@font-face {
  font-family: "Raleway";
  font-weight: 900;
  src: local(""), url(assets/fonts/Raleway-Black.6bd1533c60036571d26f27e4a79cae33.woff2) format("woff2"), url(assets/fonts/Raleway-Black.be8531b90b1e64f78096dc9cdbaea4c3.woff) format("woff"), url(assets/fonts/Raleway-Black.eef1ff812c4eced3a276a2715bc62c4a.ttf) format("ttf");
}


/*  
    ------------- 
      VARIABLES
    ------------- 
*/

:root {
  --azul: #344754;
  --azulOpa: rgba(52,71,84,0.83529);
  --pastel: #EEE3D8;
  --amarillo: #FAC074;
  --amarilloOpa: rgba(250,192,116,0.46667);
  --gris: #D1CDC5;

}

/*  
    ------------- 
      ANIMATIONS
    ------------- 
*/

@-webkit-keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*  
    ------------- 
       GENERAL
    ------------- 
*/

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  background-color: #344754;
  background-color: #344754;
  background-color: var(--azul);
  overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #FAC074;
  background: #FAC074;
  background: var(--amarillo); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(250,192,116,0.46667);
background: rgba(250,192,116,0.46667);
background: var(--amarilloOpa); 
}



/*  
    ------------- 
    MEDIA QUERIES
    ------------- 
*/

@media screen and (min-width: 767px) {


}

@media screen and (min-width: 1360px) {

}

.splide__container{box-sizing:border-box;position:relative}.splide__list{-webkit-backface-visibility:hidden;backface-visibility:hidden;display:-ms-flexbox;display:flex;height:100%;margin:0!important;padding:0!important;transform-style:preserve-3d}.splide.is-initialized:not(.is-active) .splide__list{display:block}.splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;pointer-events:none}.splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0;pointer-events:auto}.splide__progress__bar{width:0}.splide{outline:none;position:relative;visibility:hidden}.splide.is-initialized,.splide.is-rendered{visibility:visible}.splide__slide{-webkit-backface-visibility:hidden;backface-visibility:hidden;box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0;outline:none;position:relative}.splide__slide img{vertical-align:bottom}.splide__slider{position:relative}.splide__spinner{animation:splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;contain:strict;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.splide__track{overflow:hidden;position:relative;z-index:0}@keyframes splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.splide--draggable>.splide__slider>.splide__track,.splide--draggable>.splide__track{-webkit-user-select:none;-ms-user-select:none;user-select:none}.splide--fade>.splide__slider>.splide__track>.splide__list,.splide--fade>.splide__track>.splide__list{display:block}.splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide,.splide--fade>.splide__track>.splide__list>.splide__slide{left:0;opacity:0;position:absolute;top:0;z-index:0}.splide--fade>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,.splide--fade>.splide__track>.splide__list>.splide__slide.is-active{opacity:1;position:relative;z-index:1}.splide--rtl{direction:rtl}.splide--ttb.is-active>.splide__slider>.splide__track>.splide__list,.splide--ttb.is-active>.splide__track>.splide__list{display:block}.splide__arrow{-ms-flex-align:center;align-items:center;background:#ccc;border:0;border-radius:50%;cursor:pointer;display:-ms-flexbox;display:flex;height:2em;-ms-flex-pack:center;justify-content:center;opacity:.7;padding:0;position:absolute;top:50%;transform:translateY(-50%);width:2em;z-index:1}.splide__arrow svg{fill:#000;height:1.2em;width:1.2em}.splide__arrow:hover{opacity:.9}.splide__arrow:focus{outline:none}.splide__arrow--prev{left:1em}.splide__arrow--prev svg{transform:scaleX(-1)}.splide__arrow--next{right:1em}.splide__pagination{bottom:.5em;left:0;padding:0 1em;position:absolute;right:0;z-index:1}.splide__pagination__page{background:#ccc;border:0;border-radius:50%;display:inline-block;height:8px;margin:3px;opacity:.7;padding:0;transition:transform .2s linear;width:8px}.splide__pagination__page.is-active{background:#fff;transform:scale(1.4)}.splide__pagination__page:hover{cursor:pointer;opacity:.9}.splide__pagination__page:focus{outline:none}.splide__progress__bar{background:#ccc;height:3px}.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide,.splide--nav>.splide__track>.splide__list>.splide__slide{border:3px solid transparent;cursor:pointer}.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide.is-active,.splide--nav>.splide__track>.splide__list>.splide__slide.is-active{border:3px solid #000}.splide--nav>.splide__slider>.splide__track>.splide__list>.splide__slide:focus,.splide--nav>.splide__track>.splide__list>.splide__slide:focus{outline:none}.splide--rtl>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev{left:auto;right:1em}.splide--rtl>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:scaleX(1)}.splide--rtl>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next{left:1em;right:auto}.splide--rtl>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next svg,.splide--rtl>.splide__track>.splide__arrows .splide__arrow--next svg{transform:scaleX(-1)}.splide--ttb>.splide__arrows .splide__arrow,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow,.splide--ttb>.splide__track>.splide__arrows .splide__arrow{left:50%;transform:translate(-50%)}.splide--ttb>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev{top:1em}.splide--ttb>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--prev svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--prev svg{transform:rotate(-90deg)}.splide--ttb>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next{bottom:1em;top:auto}.splide--ttb>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__slider>.splide__track>.splide__arrows .splide__arrow--next svg,.splide--ttb>.splide__track>.splide__arrows .splide__arrow--next svg{transform:rotate(90deg)}.splide--ttb>.splide__pagination,.splide--ttb>.splide__slider>.splide__pagination{bottom:0;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;left:auto;padding:1em 0;right:.5em;top:0}
