.descubre {
    position: relative;
    overflow-x: hidden;
    margin-top: -30rem;
}

.descubre__container {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.descubre__title {
    word-spacing: .5rem;
	line-height: 4rem;
    color: var(--amarillo);
    max-width: 120rem;
}

.descubre__title span {
    color: white;
}

.descubre__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 3rem;
    padding: 5rem 0 8rem;
}

.descubre__content a {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.libro__box {
    background-image: url(../../assets/ventana1.png);
}

.docu__box {
    background-image: url(../../assets/ventana2.png);
}


@media (min-width: 1281px) {

	.descubre__title {
		text-transform: uppercase;
		line-height: 9rem;
	}
    .descubre__content {
        flex-direction: row;
        padding: 10rem 0 8rem;
        gap: 30rem;
    }

    .libro__box,
    .docu__box {
        max-width: 100% !important;
        min-height: 30rem !important;
    }

}