
.box {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 100%;
  max-width: 48rem;
  min-height: 15rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem -.5rem rgba(0, 0, 0, 0.50);
  background-position: center;
	background-size: 100%;	
  border: solid .2rem var(--pastel);
  transition: transform 500ms ease, background-size 1s ease;
}

.box__name {
  margin: 2rem;
  text-shadow: 0 .5rem 2rem var(--azul);
}

.box__title, .box__subTitle {
  color: white;
  font-weight: 800;
  font-size: var(--subTitles);
  margin: 0;
  padding: 0;
  line-height: .9;
  text-transform: uppercase;
}

.box__subTitle {
  font-weight: 500;
  font-size: var(--subTitles2);
  text-transform: uppercase;
}

.box:hover {
  transform: scale(1.1);
  background-size: 120%;
  transition:  transform 500ms ease, background-size 1s ease;
}